@import url('https://fonts.googleapis.com/css?family=Lato:700,400');

@font-face {
                          font-family: "Lato-Medium";
                          src: url('../fonts/Lato-Medium.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Circular-Bold";
                          src: url('../fonts/lineto-circular-pro-bold.ttf') format("truetype");
                        }
                        
.lotteryresults {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.lotteryresults .peoplecell {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : 333px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecell .bound {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 90px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  object-fit          : cover;
}
.lotteryresults .peoplecell .interest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecell .interest .bound1 {
  background-color    : rgba(80, 226, 193, 1.0);
  top                 : 0px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .peoplecell .interest .a16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(24, 217, 173, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.lotteryresults .peoplecell .interestcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 217px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecell .interestcopy2 .bound1 {
  background-color    : rgba(80, 226, 193, 1.0);
  top                 : 0px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .peoplecell .interestcopy2 .a16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(24, 217, 173, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.lotteryresults .peoplecell .interestcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 307px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecell .interestcopy3 .bound1 {
  background-color    : rgba(80, 226, 193, 1.0);
  top                 : 0px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .peoplecell .interestcopy3 .a16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(24, 217, 173, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.lotteryresults .peoplecell .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.lotteryresults .peoplecell .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 60px;
  box-sizing          : border-box;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  border-radius       : 30px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(194, 194, 194, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.lotteryresults .peoplecell .line1 {
  background-color    : rgba(74, 73, 74, 1.0);
  top                 : 89px;
  height              : 1px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .peoplecellcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 445px;
  height              : 90px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecellcopy .bound {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 90px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  object-fit          : cover;
}
.lotteryresults .peoplecellcopy .interest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecellcopy .interest .bound1 {
  background-color    : rgba(80, 226, 193, 1.0);
  top                 : 0px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .peoplecellcopy .interest .a16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(24, 217, 173, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.lotteryresults .peoplecellcopy .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.lotteryresults .peoplecellcopy .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 60px;
  box-sizing          : border-box;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  border-radius       : 30px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(194, 194, 194, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.lotteryresults .peoplecellcopy .line1 {
  background-color    : rgba(74, 73, 74, 1.0);
  top                 : 89px;
  height              : 1px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .interestcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 220px;
  height              : 382px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .interestcopy .bound {
  background-color    : rgba(250, 142, 28, 1.0);
  top                 : 0px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .interestcopy .boundcopy {
  background-color    : rgba(250, 142, 28, 1.0);
  top                 : 356px;
  height              : 26px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .interestcopy .a6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 158, 57, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.lotteryresults .interestcopy .a6copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 363px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 158, 57, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.lotteryresults .peoplecell1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 191px;
  height              : 75px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecell1 .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.lotteryresults .peoplecell1 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  box-sizing          : border-box;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  border-radius       : 30px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(194, 194, 194, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.lotteryresults .peoplecell1 .line1 {
  background-color    : rgba(74, 73, 74, 1.0);
  top                 : 74px;
  height              : 1px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .peoplecellcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 366px;
  height              : 60px;
  width               : 222px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecellcopy2 .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.lotteryresults .peoplecellcopy2 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  box-sizing          : border-box;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 30px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(194, 194, 194, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.lotteryresults .line {
  background-color    : rgba(74, 73, 74, 1.0);
  top                 : 346px;
  height              : 1px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .peoplecellcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 278px;
  height              : 161px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecellcopy3 .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 91px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.lotteryresults .peoplecellcopy3 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  box-sizing          : border-box;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  border-radius       : 30px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(194, 194, 194, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.lotteryresults .peoplecellcopy3 .line1 {
  background-color    : rgba(74, 73, 74, 1.0);
  top                 : 160px;
  height              : 1px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.lotteryresults .peoplecellcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 546px;
  height              : 60px;
  width               : 222px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .peoplecellcopy5 .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.lotteryresults .peoplecellcopy5 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  box-sizing          : border-box;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 30px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(194, 194, 194, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.lotteryresults .toolbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 72px;
  width               : 383px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 64px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .lotteryresults1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .charge {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 14px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 314px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .charge .batteryicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 11px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .charge .batteryicon .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .charge .batteryicon .charge1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 8px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .charge .batteryicon .image1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 3px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .charge .a51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .bluetoothicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.45;
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .a941 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .wifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 9px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .tmobile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .signal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 6px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .signal .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .signal .oval1copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .signal .oval1copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .signal .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .toolbar .headwhite .topbar .statusbarwhite .statusbarwhite1 .signal .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .page1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 12px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.lotteryresults .page1 .page11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}