@import url('https://fonts.googleapis.com/css?family=Lato:700,400');

@font-face {
                          font-family: "Circular-Bold";
                          src: url('../fonts/lineto-circular-pro-bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Lato-Medium";
                          src: url('../fonts/Lato-Medium.ttf') format("truetype");
                        }
                        
.onboarding1 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.onboarding1 .statusbarwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .charge {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 14px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 314px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .charge .batteryicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 11px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .charge .batteryicon .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .charge .batteryicon .charge1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 8px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .charge .batteryicon .image1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 3px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .charge .a51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.onboarding1 .statusbarwhite .statusbarwhite1 .bluetoothicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.45;
}
.onboarding1 .statusbarwhite .statusbarwhite1 .a941 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.onboarding1 .statusbarwhite .statusbarwhite1 .wifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 9px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .tmobile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.onboarding1 .statusbarwhite .statusbarwhite1 .signal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 6px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .signal .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .signal .oval1copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .signal .oval1copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .signal .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .statusbarwhite .statusbarwhite1 .signal .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 607px;
  height              : 60px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .group .navigationbar {
  background-color    : rgba(24, 217, 173, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .group .navigationdots {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 10px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .group .navigationdots .leftdot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .group .navigationdots .middledot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.onboarding1 .group .navigationdots .rightdot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.onboarding1 .group .skip {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .group .skip .skip1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.onboarding1 .group .skip .bound {
  background-color    : rgba(123, 191, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
}
.onboarding1 .group .next {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 275px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .group .next .next1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.onboarding1 .group .next .bound {
  background-color    : rgba(123, 191, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
}
.onboarding1 .middle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 237px;
  height              : 144px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
}
.onboarding1 .middle .suggestedcard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middle .suggestedcard .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middle .suggestedcard .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.onboarding1 .middle .suggestedcard .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middle .suggestedcard .poold {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.onboarding1 .middle .suggestedcard .members {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.onboarding1 .middle .suggestedcard .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middle .suggestedcard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middle .suggestedcard1 .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middle .suggestedcard1 .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.onboarding1 .middle .suggestedcard1 .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middle .suggestedcard1 .poolc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.onboarding1 .middle .suggestedcard1 .members {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.onboarding1 .middle .suggestedcard1 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middlecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 560px;
  height              : 144px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.04;
}
.onboarding1 .middlecopy .suggestedcard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middlecopy .suggestedcard .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middlecopy .suggestedcard .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.onboarding1 .middlecopy .suggestedcard .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middlecopy .suggestedcard .poold {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.onboarding1 .middlecopy .suggestedcard .members {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.onboarding1 .middlecopy .suggestedcard .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middlecopy .suggestedcard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middlecopy .suggestedcard1 .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middlecopy .suggestedcard1 .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.onboarding1 .middlecopy .suggestedcard1 .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .middlecopy .suggestedcard1 .poolc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.onboarding1 .middlecopy .suggestedcard1 .members {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.onboarding1 .middlecopy .suggestedcard1 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .top {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : 150px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .top .suggestedcard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 150px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .top .suggestedcard .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .top .suggestedcard .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.onboarding1 .top .suggestedcard .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .top .suggestedcard .a300closingdate1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : auto;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.07px;
  line-height         : 16.0px;
}
.onboarding1 .top .suggestedcard .poolb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.onboarding1 .top .suggestedcard .a12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.onboarding1 .top .suggestedcard .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .top .suggestedcard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .top .suggestedcard1 .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .top .suggestedcard1 .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.onboarding1 .top .suggestedcard1 .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .top .suggestedcard1 .a15closingdate10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : auto;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.07px;
  line-height         : 16.0px;
}
.onboarding1 .top .suggestedcard1 .poola {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.onboarding1 .top .suggestedcard1 .a25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.onboarding1 .top .suggestedcard1 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .topcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 398px;
  height              : 150px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.13;
}
.onboarding1 .topcopy .suggestedcard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 150px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .topcopy .suggestedcard .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .topcopy .suggestedcard .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.onboarding1 .topcopy .suggestedcard .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .topcopy .suggestedcard .a300closingdate1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : auto;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.07px;
  line-height         : 16.0px;
}
.onboarding1 .topcopy .suggestedcard .poolb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.onboarding1 .topcopy .suggestedcard .a12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.onboarding1 .topcopy .suggestedcard .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .topcopy .suggestedcard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .topcopy .suggestedcard1 .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .topcopy .suggestedcard1 .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.onboarding1 .topcopy .suggestedcard1 .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .topcopy .suggestedcard1 .a15closingdate10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : auto;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.07px;
  line-height         : 16.0px;
}
.onboarding1 .topcopy .suggestedcard1 .poola {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.onboarding1 .topcopy .suggestedcard1 .a25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.onboarding1 .topcopy .suggestedcard1 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.onboarding1 .guaranteedtoearnm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 473px;
  height              : auto;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.3;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.2px;
  line-height         : 24.0px;
}
.onboarding1 .joinalotterypool {
  background-color    : rgba(255,255,255,0.0);
  top                 : 432px;
  height              : auto;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.5px;
  line-height         : 29.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}