@import url('https://fonts.googleapis.com/css?family=Lato:700,400');

@font-face {
                          font-family: "Lato-Medium";
                          src: url('../fonts/Lato-Medium.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Circular-Bold";
                          src: url('../fonts/lineto-circular-pro-bold.ttf') format("truetype");
                        }
                        
.poolsjoined {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(250, 250, 250, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.poolsjoined .toolbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 111px;
  width               : 379px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .circlestabsuggested {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : 48px;
  width               : 379px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .circlestabsuggested .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 379px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .circlestabsuggested .bound {
  background-color    : rgba(24, 217, 173, 1.0);
  top                 : 12px;
  height              : 22px;
  width               : 110px;
  position            : absolute;
  margin              : 0;
  left                : 134px;
  border-radius       : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .circlestabsuggested .wallet {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 286px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(191, 191, 191, 1.0);
  text-align          : center;
  letter-spacing      : -0.09px;
  line-height         : 14.0px;
}
.poolsjoined .toolbar .circlestabsuggested .explore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(191, 191, 191, 1.0);
  text-align          : center;
  letter-spacing      : -0.09px;
  line-height         : 14.0px;
}
.poolsjoined .toolbar .circlestabsuggested .mypools {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 14.0px;
}
.poolsjoined .toolbar .topbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .mypools {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 143px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.poolsjoined .toolbar .topbar .statusbarwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .charge {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 14px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 314px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .charge .batteryicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 11px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .charge .batteryicon .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .charge .batteryicon .charge1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 8px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .charge .batteryicon .image1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 3px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .charge .a51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .bluetoothicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.45;
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .a941 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .wifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 9px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .tmobile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .signal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 6px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .signal .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .signal .oval1copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .signal .oval1copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .signal .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .toolbar .topbar .statusbarwhite .statusbarwhite1 .signal .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .middle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 421px;
  height              : 181px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .middle .suggestedcard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 201px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .middle .suggestedcard .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .middle .suggestedcard .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.poolsjoined .middle .suggestedcard .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .middle .suggestedcard .poold {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.poolsjoined .middle .suggestedcard .members {
  background-color    : rgba(255,255,255,0.0);
  top                 : 150px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.poolsjoined .middle .suggestedcard .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 148px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .middle .suggestedcard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .middle .suggestedcard1 .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .middle .suggestedcard1 .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.poolsjoined .middle .suggestedcard1 .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .middle .suggestedcard1 .poolc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.poolsjoined .middle .suggestedcard1 .a1235 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 150px;
  height              : auto;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.poolsjoined .middle .suggestedcard1 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 148px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .poolsiu2019min {
  background-color    : rgba(255,255,255,0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.poolsjoined .poolsicfreated {
  background-color    : rgba(255,255,255,0.0);
  top                 : 384px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.poolsjoined .top {
  background-color    : rgba(255,255,255,0.0);
  top                 : 174px;
  height              : 181px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .top .suggestedcard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 201px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .top .suggestedcard .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .top .suggestedcard .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.poolsjoined .top .suggestedcard .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .top .suggestedcard .a300closingdate1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : auto;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.07px;
  line-height         : 16.0px;
}
.poolsjoined .top .suggestedcard .poolb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.poolsjoined .top .suggestedcard .a1230 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 151px;
  height              : auto;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.poolsjoined .top .suggestedcard .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 148px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .top .suggestedcard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .top .suggestedcard1 .bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .top .suggestedcard1 .bg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.poolsjoined .top .suggestedcard1 .bg .overlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .top .suggestedcard1 .a15closingdate11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.07px;
  line-height         : 16.0px;
}
.poolsjoined .top .suggestedcard1 .poola {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 24.0px;
}
.poolsjoined .top .suggestedcard1 .a2525 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 150px;
  height              : auto;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.poolsjoined .top .suggestedcard1 .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 148px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .rectangle {
  background-color    : rgba(188, 15, 224, 1.0);
  top                 : 318px;
  height              : 22px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  border-radius       : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.poolsjoined .view {
  background-color    : rgba(255,255,255,0.0);
  top                 : 322px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 12.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}